# Bỏ qua toàn bộ thư mục cài đặt phần mềm Visual Paradigm
YEAR 1/Visio - Visual - Draw/Visual Paradigm for UML 10.0/

# Bỏ qua file tạm của Word, Excel, PowerPoint, Visio
~$*
~*.vsdx

# Bỏ qua file backup của Draw.io
.*.bkp

# Bỏ qua file rác hệ thống chung
*.tmp

# Bỏ qua thư mục build của C# / .NET
[Bb]in/
[Oo]bj/

# Bỏ qua thư mục cấu hình workspace của Eclipse
.metadata/

# Bỏ qua file biên dịch của Java
*.class

# Bỏ qua bộ cấu hình của Eclipse IDE
.settings/
.classpath
.project

# Bỏ qua thư mục chứa thư viện siêu nặng của Node.js
node_modules/

# Bỏ qua cấu hình editor (Visual Studio Code / Cursor)
.vscode/

# Bỏ qua file dịch và cache của Python
__pycache__/
*.pyc

# Bỏ qua thư mục chứa file upload test dưới local
backend-node/uploads/

# Bỏ qua file video nặng
*.mp4
*.mkv
*.avi
*.mp4