$class.t_prepare($args.get("property"))##
## ===== Output =====
$indenter.getIndentation()<xs:simpleType name="$class.getName()">##
$indenter.push($indentation)##
$class.t_getDocumentation($indenter.getIndentation())
#set($node = $class.getTaggedValueContent() )
#parse("$template-dir/XsdXmlNode.vm")
$indenter.pop()##
$indenter.getIndentation()</xs:simpleType>

