<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<LINK href="../sample.css" rel="stylesheet" type="text/css">
<head>
<title>Sample for Layout</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<table width="100%" border="0">
  <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
    <td colspan="2">
      <table border="0">
        <tr>
          <td style="padding-bottom:10px"><a href="http://www.visual-paradigm.com" target="_blank"><img style="border=0" src="../images/VPLogo.gif"></a></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><p class="slogan">Build Quality Applications Faster, Better and Cheaper</p></td>
        </tr>
      </table>		
    </td>
  </tr>
  <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
    <td colspan="2"><H1 class="sample">What's inside this sample?</H1>
    </td>
  </tr>
  <tr> 
    <td width="4%">&nbsp;</td>
    <td width="96%"><p>A <a href="Layout.vpp"><strong>Layout.vpp</strong></a> project which contains 
        two class diagrams.</p></td>
  </tr>
  <tr> 
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr> 
    <td colspan="2"><H2 class="sample">How to use the sample?</H2></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td><p>1. Start VP-UML and open the project <strong>Layout.vpp</strong>. 
        There are two class diagrams as shown below:</p>
      <p>i. Vehicle Structure</p>
      <p><img src="images/1.png"></p>
      <p>ii.Vehicle Type</p>
      <p><img src="images/2.png"></p></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr> 
  <tr> 
    <td>&nbsp;</td>
    <td><p>2. Right-click on the empty space of<strong> Class Diagram1</strong> 
        and select <strong>Layout</strong> from the popup menu, the <strong>Layout 
        </strong>dialog box appears.</p>
      <p><img src="images/3.png"></p></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td><p>3. There are six types of layout to select from, each has its own set of options.</p>
      <table>
        <tr>
          <td><strong><font color="#0033FF">Type</font></strong></td>
          <td><strong><font color="#0033FF">Result</font></strong></td>
        </tr>
        <tr>
          <td valign="top">
            <strong><font color="#00AA33">Orthogonal</font></strong><br>
            <img src="images/4.png">
          </td>
          <td valign="top">
            &nbsp;<br>
            Vehicle Structure<br>
            <img src="images/4b.png">
        </tr>
        <tr>
          <td valign="top">
            <strong><font color="#00AA33">Hierarchic</font></strong><br>
            <img src="images/5.png">
          </td>
          <td valign="top">
            &nbsp;<br>
            Vehicle Structure<br>
            <img src="images/5b.png">
        </tr>
        <tr>
          <td valign="top">
            <strong><font color="#00AA33">Tree</font></strong><br>
            <img src="images/6.png">
          </td>
          <td valign="top">
            &nbsp;<br>
            Vehicle Structure (layout rejected, it can't form a tree structure)<br>
            <img src="images/6b.png"><br>
            Vehicle Type<br>
            <img src="images/6c.png">
        </tr>
        <tr>
          <td valign="top">
            <strong><font color="#00AA33">Circular</font></strong><br>
            <img src="images/7.png">
          </td>
          <td valign="top">
            &nbsp;<br>
            Vehicle Structure<br>
            <img src="images/7b.png">
        </tr>
        <tr>
          <td valign="top">
            <strong><font color="#00AA33">Organic</font></strong><br>
            <img src="images/8.png">
          </td>
          <td valign="top">
            &nbsp;<br>
            Vehicle Structure<br>
            <img src="images/8b.png">
        </tr>
        <tr>
          <td valign="top">
            <strong><font color="#00AA33">Edge Routerc</font></strong><br>
            <img src="images/9.png">
          </td>
          <td valign="top">
            &nbsp;<br>
            Vehicle Structure<br>
            <img src="images/9b.png">
        </tr>
      </table>
    <td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td colspan="2"><H2 class="sample">Known Issue</H2></td>
  </tr>
  <tr> 
    <td height="20">&nbsp;</td>
    <td><p>1. Layout only supported in class diagram and collaboration diagram.</p></td>
  </tr>
  <tr> 
    <td height="23">&nbsp;</td>
    <td>2. Tree layout can only be applied when the diagram elements are organized 
      in a tree structure (The child element has zero or one parent and the relationship cannot form a circle).<br>
      <img src="images/10.png"/>
    </td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td colspan="2"><H2 class="sample">Feature Availability</H2></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td valign="top">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="sample" rowspan="2" width="15%">&nbsp;</td>
          <td class="sample" align="center" colspan="6"><strong>Edition</strong></td>
        </tr>
        <tr>
          <td class="sample" align="center" width="12%">&nbsp;Enterprise&nbsp;</td>
          <td class="sample" align="center" width="12%">&nbsp;Professional&nbsp;</td>
          <td class="sample" align="center" width="12%">&nbsp;Standard&nbsp;</td>
          <td class="sample" align="center" width="12%">&nbsp;Modeler&nbsp;</td>
          <td class="sample" align="center" width="12%">&nbsp;Personal&nbsp;</td>
          <td class="sample" align="center" width="12%">&nbsp;Community&nbsp;</td>
        </tr>
        <tr>
          <td class="sample" align="center"><strong>VP-UML<strong></td>
          <td class="sample" align="center"><img src="../images/TickWhiteBG.gif"></td>
          <td class="sample" align="center"><img src="../images/TickWhiteBG.gif"></td>
          <td class="sample" align="center"><img src="../images/TickWhiteBG.gif"></td>
          <td class="sample" align="center"><img src="../images/TickWhiteBG.gif"></td>
          <td class="sample" align="center"><img src="../images/TickWhiteBG.gif"></td>
          <td class="sample" align="center"><img src="../images/TickWhiteBG.gif"></td>
        </tr>
        <tr>
          <td class="sample" align="center" bgcolor="#f2f2f2"><strong>SDE<strong></td>
          <td class="sample" align="center" bgcolor="#f2f2f2"><img src="../images/TickGrayBG.gif"></td>
          <td class="sample" align="center" bgcolor="#f2f2f2"><img src="../images/TickGrayBG.gif"></td>
          <td class="sample" align="center" bgcolor="#f2f2f2"><img src="../images/TickGrayBG.gif"></td>
          <td class="sample" align="center" bgcolor="#f2f2f2"><img src="../images/TickGrayBG.gif"></td>
          <td class="sample" align="center" bgcolor="#f2f2f2"><img src="../images/TickGrayBG.gif"></td>
          <td class="sample" align="center" bgcolor="#f2f2f2"><img src="../images/TickGrayBG.gif"></td>
        </tr>
        <tr>
          <td class="sample" align="center"><strong>DB-VA<strong></td>
          <td  class="sample" colspan="6" align="center"><img src="../images/TickWhiteBG.gif"></td>
        </tr>
        <tr>
          <td class="sample" align="center" bgcolor="#f2f2f2"><strong>BP-VA<strong></td>
          <td class="sample" colspan="6" align="center" bgcolor="#f2f2f2"><img src="../images/TickGrayBG.gif"></td>
        </tr>		
      </table>
    <td>
  </tr>
  <tr>
    <td style="padding-top: 20px" align="center" colspan="3"><a class="vp" href="http://www.visual-paradigm.com" target="_blank">www.visual-paradigm.com</a></td>
  </tr>    
</table>
</body>
</html>
