p {
	font-size: 16px;
}

H1.sample {
	font-size: 24px;
	color: #335c95;
	font-weight: bold;
}

H2.sample {
	font-size: 18px;
	color: #335c95;
	border-bottom: solid #000000 1px
}

td.sample {
	border-right: solid #808080 1px
}

a.vp {
	color: #ce2b2c;
}

p.slogan {
	font-family: arial;
	font-weight: bold
}